<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            //TODO: get room URL
            var conn;
            var command = $("#command");
            var log = $("#log");
            var name = window.prompt("Your name");
            if (window["WebSocket"]) {//supported device list?
                conn = new WebSocket("ws://{{.Host}}/ws?name=" + name);
                conn.onopen = function () {
                    console.log("Connected");
                };
                conn.onclose = function (evt) {
                    console.log("Connection closed");
                };
                conn.onmessage = function (evt) {
                    //parse data to JSON
                    var message = JSON.parse(evt.data);
                    console.log("Parsed");
                    switch (message.status) {
                        case "start":
                            console.log("start");
                            log.val(log.val() + '\n' + "game started");
                            break;
                        case "stop":
                            console.log("stop");
                            log.val(log.val() + '\n' + "game finished");
                            break;
                        case "game":
                            // we need it only in the end to look full statement
                            console.log("game");
                            message.body.wall.forEach(function (value) {
                                $("#wall").append("<li>"+value+"</li>");
                            });
                            message.body.reserve.forEach(function (value) {
                                $("#reserve").append("<li>"+value+"</li>");
                            });
                            log.val(log.val() + '\n' + "game statement updated");
                            break;
                        case "message":
                            console.log("message");
                            log.val(log.val() + '\n' + message.body);
                            break;
                        case "players":
                            $("#players_list").html(message.body);
                            message.body.forEach(function (value, index) {
                               $("table tr").eq(index+1).find("td:nth-child(1)").append(value);
                            });
                            break;
                        default:
                            console.log("Parsing error");
                            log.val(log.val() + '\n' + evt.data);
                    }
                }
            } else {
                window.alert("Sorry, your device does not supported");
            }
            $("#send_command").click(function () {
                var wsMessage = {status: "message", body: command.val()};
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
                command.val("");
            });
            // just for tests
            $("#go").click(function () {
                var wsMessage = {status: "game", body: command.val()};
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
                command.val("");
            })
        });
    </script>
</head>
<body>

<h1>Hello</h1>
<p>Players number: {{.Players}}</p>

<input type="text" id="command" name="command" value="">
<button id="send_command">Send</button>

<br/>

<textarea id="log" rows="10" cols="50"></textarea>
<h3>Players List:</h3>
<ul id="players_list">
</ul>
<button id="go">GO</button>
<h3>Wall:</h3>
<ul id="wall"></ul>
<h3>Reserve:</h3>
<ul id="reserve"></ul>
<table>
    <tbody>
    <tr>
        <td>name</td>
        <td>hand</td>
        <td>open</td>
        <td>discard</td>
        <td>current tail</td>
        <td>wind</td>
    </tr>
    <tr>
        <td>1:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>2:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>3:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>4:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    </tbody>
</table>
</body>
</html>