<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache"/>
    <title>Index</title>
    <style>
        #your_turn {
            display: none;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            //TODO: get room URL
            var conn;
            var command = $("#command");
            var log = $("#log");
            //var name = window.prompt("Your name");
            var name = "pName";
            var host = "{{.Host}}";
            if (window["WebSocket"]) {//supported device list?
                roomURL = window.location.href.substring(window.location.href.indexOf(host) + host.length + 5); //rewrite it
                console.log(roomURL);
                conn = new WebSocket("ws://" + host + "/ws?room=" + roomURL + "&name=" + name);
                conn.onopen = function () {
                    console.log("Connected");
                };
                conn.onclose = function (evt) {
                    console.log("Connection closed");
                };
                conn.onmessage = function (evt) {
                    //parse data to JSON
                    var message = JSON.parse(evt.data);
                    console.log("Parsed");
                    switch (message.status) {
                        case "start":
                            console.log("start");
                            log.val(log.val() + '\n' + "game started");
                            break;
                        case "stop":
                            console.log("stop");
                            log.val(log.val() + '\n' + "player " + message.body + " gave up");
                            break;
                        case "game":
                            console.log(evt.data);
                            /*message.body.wall.forEach(function (value) {
                                $("#wall").append("<li>"+value+"</li>");
                            });
                            message.body.reserve.forEach(function (value) {
                                $("#reserve").append("<li>"+value+"</li>");
                            });*/
                            var me = message.body.players["100"];
                            $("#hand").html("");
                            me.hand.forEach(function (value) {
                                $("#hand").append('<li><input type="checkbox"><button class="tile">' + value + '</button></li>');
                            });
                            if (me.discard != null) {
                                $("#discard").html("");
                                me.discard.forEach(function (value) {
                                    $("#discard").append('<li><span>' + value + '</span></li>');
                                });
                            }

                            if (me.open != null) {
                                $("#open").html("");
                                me.open.forEach(function (value) {
                                    $("#open").append('<li><span>' + value + '</span></li>');
                                });
                            }
                            if (me.current_tile !== "") {
                                $("#current_tile").text(me.current_tile);
                                $("#your_turn").show();
                            } else $("#your_turn").hide();

                            log.val(log.val() + '\n' + "game statement updated");
                            break;
                        case "message":
                            console.log("message");
                            log.val(log.val() + '\n' + message.body);
                            break;
                        case "players":
                            $("#players_list").html(message.body);
                            message.body.forEach(function (value, index) {
                                $("table tr").eq(index + 1).find("td:nth-child(1)").append(value);
                            });
                            break;
                        default:
                            console.log("Parsing error");
                            log.val(log.val() + '\n' + evt.data);
                    }
                }
            } else {
                window.alert("Sorry, your device does not supported");
            }
            $("#send_message").click(function () {
                var wsMessage = {status: "message", body: $("#message").val()};
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
                command.val("");
            });
            $("#send_command").click(function () {
                var turn = {
                    action: "discard",
                    meld: "",
                    value: [command.val()]
                };
                var wsMessage = {
                    status: "action",
                    body: turn
                };
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
                command.val("");
            });
            // just for tests
            $("#go").click(function () {
                var turn = {
                    action: "skip",
                    meld: "",
                    value: []
                };
                var wsMessage = {
                    status: "action",
                    body: turn
                };
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
                command.val("");
            });
            $("#announce_chow").click(function () {
                var tiles = [];
                $("input[type=checkbox]:checked").each(function (value) {
                    tiles.push($(this).next().text());
                });
                var turn = {
                    action: "announce",
                    meld: "chow",
                    value: tiles
                };
                var wsMessage = {
                    status: "action",
                    body: turn
                };
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
                command.val("");
            });
            $("#announce_pong").click(function () {
                var tiles = [];
                $("input[type=checkbox]:checked").each(function (value) {
                    tiles.push($(this).next().text());
                });
                var turn = {
                    action: "announce",
                    meld: "pong",
                    value: tiles
                };
                var wsMessage = {
                    status: "action",
                    body: turn
                };
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
                command.val("");
            });
            $("#announce_kong").click(function () {
                var tiles = [];
                $("input[type=checkbox]:checked").each(function (value) {
                    tiles.push($(this).next().text());
                });
                var turn = {
                    action: "announce",
                    meld: "kong",
                    value: tiles
                };
                var wsMessage = {
                    status: "action",
                    body: turn
                };
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
                command.val("");
            });
            $("body").on("click", ".tile", function () {
                var turn = {
                    action: "discard",
                    meld: "",
                    value: [$(this).text()]
                };
                var wsMessage = {
                    status: "action",
                    body: turn
                };
                $("#current_tile").text("");
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
            });
            $("#give_up").click(function () {
                var wsMessage = {
                    status: "stop"
                };
                console.log(JSON.stringify(wsMessage));
                conn.send(JSON.stringify(wsMessage)); //mb we can send JSON object?
            });
        });
    </script>
</head>
<body>

<h1>Hello</h1>
<p>Room name: <a href="/room/{{.RoomName}}">{{.RoomName}}</a></p>
<p>Players number: {{.Players}}</p>

<input type="text" id="command" name="command" value="">
<button id="send_command">Send</button>

<br/>

<input type="text" id="message" name="message" value="">
<button id="send_message">Send message</button>

<br>

<textarea id="log" rows="10" cols="50"></textarea>
<h3>Players List:</h3>
<ul id="players_list">
</ul>

<button id="go">Skip</button>
<button id="announce_chow">Announce Chow</button>
<button id="announce_pong">Announce Pong</button>
<button id="announce_kong">Announce Kong</button>
<button id="announce_pig_hand">Announce Pig Hand</button>
<button id="announce_mahjong">Announce Mahjong</button>
<br>
<h1 id="your_turn">YOUR TURN</h1>
<h3>Current tile:</h3><br>
<button id="current_tile" class="tile"></button>

<br>

<h3>My hand:</h3>
<ul id="hand"></ul>

<h3>Discard:</h3>
<ul id="discard"></ul>

<h3>Open:</h3>
<ul id="open"></ul>

<h3>Wall:</h3>
<ul id="wall"></ul>
<h3>Reserve:</h3>
<ul id="reserve"></ul>

<br>
<button id="give_up">give up</button>

</body>
</html>