<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Mahjong</title>
</head>
<script src="../static/pixi/pixi.min.js"></script>
<script src="../static/game/room.js" defer></script>
<script src="../static/game/menu.js" defer></script>
<script src="../static/game/preparation.js" defer></script>
<script src="../static/game/send_message.js" defer></script>
<script type="text/javascript" src="../static/tiles.json"></script>
<!--debug code. remove before release-->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<!---->
<body>
<script type="text/javascript">
    const host = "{{.Host}}";
</script>
<div id="game"></div>
<label for="log"></label><textarea cols="150" id="log" rows="10"></textarea>
</body>
</html>
